* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  background-color: rgb(133, 126, 126);
}

.container {
  width: 30%;
  margin: auto;

  text-align: center;
  padding: 1rem;
  height: 70vh;
  margin-top: 5rem;
  border-radius: 20px;
  background-color: lightgray;
  border-style: outset;
  border-width: 5px;
  min-width: 400px;
  min-height: 50vh;

}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

button {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: dimgrey;
  color: white;
  font-size: 2rem;

}

button:hover {
  opacity: 0.7;
}

button:active {
  background-color: darkgray;
}

input {
  width: 70%;
  padding: 1.5rem;
  margin-top: 2rem;
  outline: none;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
  font-family: "Poppins", serif;
  font-weight: 500;
}

.clear {
  width: 70%;
  margin-top: 1.5rem;
}